<!doctype html> 

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Health-E-Tree</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC" />
	<style>
		h1 {
			color: #4169E1;
			font: 400 100px/1.3 'Amatic SC';
		  	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Health-E-Tree</h1>   
	<div class="container">
	  <div class="row">	    	
	    <div class="Absolute-Center is-Responsive">
	      <div id="logo-container"></div>
	      <div class="col-sm-12 col-md-10 col-md-offset-1">
	        <form id="loginForm">
	          <div class="form-group input-group">
	            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	            <input class="form-control" type="text" name='username' placeholder="username"/>          
	          </div>
	          <div class="form-group input-group">
	            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
	            <input class="form-control" type="password" name='pwd' placeholder="password"/>     
	          </div>
	         
	          <div class="form-group">
	            <button type="submit" class="btn btn-default btn-block" onClick="lookup(this.form)">Log in</button><br>
				<a href="signup" class="btn btn-default btn-block">Sign up</a>
	          </div>
	        
	        </form>        
	      </div>  
	    </div>    
	  </div>
	</div>

		<script>
		function lookup(form) {
			if((form.username.value=="jane123")&&(form.pwd.value=="tree12345")) {
				window.open('user');
			}
			else {
				alert("WRONG INFO");
			}
		};
	</script>
</body>
</html>