<!doctype html> 

<html>
<head>
	<meta name="description" content="CSE170 Web app">
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC" />
	<style>
		h1 {
			color: #4169E1;
			font: 400 100px/1.3 'Amatic SC';
		  	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
			text-align: center;
		}
	</style>

</head>
<body>
	
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">Health-E-Tree</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
  			<li><a href="login"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
	    </div>
	  </div>
	</nav>

	<h1>Sign up</h1>
		<form class="form-horizontal">
			<fieldset>
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Username</label>  
			  <div class="col-md-3">
			  <input name="username" type="text" class="form-control input-md" required="">
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Password</label> 
			  <div class="col-md-3">
			  <input name="pwd" type="password" class="form-control input-md" required="">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Name</label>  
			  <div class="col-md-3">
			  <input name="name" type="text" class="form-control input-md" required="">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Gender</label>  
			  <div class="col-md-2">
			  <input name="gender" type="text" class="form-control input-md" required="">
			    
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Age</label>  
			  <div class="col-md-2">
			  <input name="age" type="text" class="form-control input-md" required="">
			  </div>
			</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Height</label>  
			  <div class="col-md-2">
			  <input name="height" type="text" class="form-control input-md" required="">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Weight</label>  
			  <div class="col-md-2">
			  <input name="weight" type="text" class="form-control input-md" required="">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Allergies</label>  
			  <div class="col-md-4">
			  <textarea name="allergy" type="text" class="form-control input-md" required=""></textarea>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Sensitivities</label>  
			  <div class="col-md-4">
			  <textarea name="sense" type="text" class="form-control input-md" required=""></textarea>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Heart Conditions</label>  
			  <div class="col-md-4">
			  <textarea name="heart" type="text" class="form-control input-md" required=""></textarea>
			  </div>
			</div>
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Behavioral Problems</label>  
			  <div class="col-md-4">
			  <textarea name="bprob" type="text" class="form-control input-md" required=""></textarea>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Emotional Problems</label>  
			  <div class="col-md-4">
			  <textarea name="eprob" type="text" class="form-control input-md" required=""></textarea>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Eye Conditions</label>  
			  <div class="col-md-4">
			  <textarea name="eye" type="text" class="form-control input-md" required=""></textarea>
			  </div>
			</div>
			</fieldset>
			<div class="wrapper">
				<button class="btn btn-danger" type="reset">Reset</button> <a href="user" class="btn btn-success">Finish</a>
			</div>
		</form>
	</div>
</body>
</html>