body, button{
	background-color: #F5F5DC;
	padding-bottom:  70px;
}
h1 {
	color: #228B22;
}
h2 {
	text-align: center;
	font-family: Georgia;
}
p {
	font-size: 120%;
	font-family: Georgia;
	text-align: left;
	width: 400px;
    border: 10px solid #666666;
    padding: 25px;
    margin: auto;
}
#help {
	margin-bottom: 10px;
    margin-left : 10px;
    position: fixed;
    bottom: 0;
}
.wrapper {
	text-align: center;
    margin: 0 auto;

}
.center-block {  
  min-height: 20%;  /* Fallback for vh unit */
  min-height: 20vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:285px;
  height:340px;
  background-image:url('logo.png');
}


label {
	font-size: 20px;
	display: inline-block;
	width: 100px;
	float: center;
	clear: center;
	text-align: right;
}
input, textarea {
	display: inline-block;
	float: center;
}
#background-img {
	width: 20%;
	height: auto;
	position: absolute;
    bottom: 0;
    right: 0;
}

#back-button {
	width: 50px;
	height: 50px;
	float: left;

	/*position: absolute;*/
}
#next-button {
	width: 100px;
	height: 80px;
	position: relative;
	left: 48%;
}
#finish-button {
	width: 70px;
	height: 50px;
	position: relative;
	left: 50%;
	margin-top: 10%;
}
#home-button {
	width: 40px;
	height: 40px;
	float: left;

}
#add-button {
	width: 40px;
	height: 40px;
	float: left;

}
#logout-button {
	width: 40px;
	height: 40px;
	float: left;
}


* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; 
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; 
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; 
	top: 0;
	right: 50%;
	border-top: 1px solid #000; /* #ccc */
	width: 50%; 
	height: 20px; /* 20*/
}
.tree li::after{
	right: auto; 
	left: 50%;
	border-left: 1px solid #000; /* #ccc */
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #000; /* #ccc */
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute;
	top: 0; 
	left: 50%;
	border-left: 1px solid #000; /* #ccc */
	width: 0; 
	height: 20px; /* 20 */
}

.tree li details, button{
	border: 1px solid #000; /* #ccc */
	padding: 15px 25px; /*10, 20*/
	text-decoration: none;
	color: #000; /* #666 */
	font-family: arial, verdana, tahoma;
	font-size: 15px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, button:hover{
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}



/* end of tree code*/



/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5FFFA;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
    font-family: tahoma;
    transition: 0.3s;
    font-size: 17px;
    text-shadow: 2px 2px 8px #0066ff;
}

/*ul.topnav li a:hover {font-style: italic;}

ul.topnav li.icon {display: none;}



@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}*/
#success_message{ display: none;}
